<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">Toggle</button>
    <span>Angular 8 Test pipes and toasts</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'" style="width: 250px; height: 100%;border-style: outset;">
      <mat-accordion multi="true">
        <mat-expansion-panel class="mat-elevation-z0" [expanded]="true" style="background: grey">
          <mat-expansion-panel-header >
            <mat-panel-title>
              Personal data
            </mat-panel-title>
          </mat-expansion-panel-header>
          Teste
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
          <mat-expansion-panel-header style="background: grey">
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
