.mat-expansion-panel-spacing {
  margin: 2px 0px;
}

.header-toolbar {
  position: fixed;
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul a{
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border-style: outset;
}

li a:hover{
  background-color: #7d8492;
}

li a:focus{
  background-color: #7d8492;
}
