<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">Toggle</button>
    <span>Angular 8 Test pipes and toasts</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="menu"
    [mode]="'side'"
    style="width: 250px; height: 100%;border-style: outset; background-color: #d1d1d1;" opened>
    <mat-accordion multi="true">
      <mat-expansion-panel
        class="mat-elevation-z0"
        [expanded]="true"
        style="background: #bcc0c7;color: #fff;">
        <mat-expansion-panel-header style="background: #7d8492;color: #fff">
          <mat-panel-title style="color: #fff">
            Home
          </mat-panel-title>
        </mat-expansion-panel-header>
        <nav>
          <ul>
              <li><a [routerLink]="['']">Home</a></li>
              <li><a [routerLink]="['']">Feedback</a></li>
              <li><a [routerLink]="['']">Pipes and Others</a></li>
          </ul>
        </nav>
      </mat-expansion-panel>
      <mat-expansion-panel
        class="mat-elevation-z0"
        [expanded]="true"
        style="background: #bcc0c7;color: #fff">
        <mat-expansion-panel-header style="background: #7d8492;color: #fff">
          <mat-panel-title style="color: #fff">
            Second Menu only to.. nothing :P
          </mat-panel-title>
        </mat-expansion-panel-header>
        <nav>
            <ul>
                <li><a [routerLink]="['']">Test 1</a></li>
                <li><a [routerLink]="['']">Test 2</a></li>
                <li><a [routerLink]="['']">Test 3</a></li>
            </ul>
          </nav>
      </mat-expansion-panel>
    </mat-accordion>
    <div style="text-align: center;">
      V - 1.0
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
