<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="toolbar" role="banner">
          <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" (click)="drawer.toggle()">list</mat-icon>
        <span>Nps Filter with Alert</span>
        <div class="spacer"></div>
      </div>

      <div class="content" role="main">
        <button class="" (click)="toast()">Teste Alert</button>

        <div *ngFor="let i of array">
          {{ i }}
        </div>

        <button class="" (click)="filterNps(7)">Filter NPS</button>
      </div>

      <router-outlet></router-outlet>


  </mat-drawer-container>

